/*******************
  BASE SETUP
*******************/

*, *:before, *:after {
  box-sizing: border-box;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.container {
	margin: 0 auto;
	width: 95%;
}

body {
	font-family: 'Lato', sans-serif;
	line-height: 1.5;
}

.logo {
	margin-bottom: 10px;
}

h2 {
	font-size: 1.5rem;
	font-weight: bold;
}

p {
	margin: 1em 0;
}

.main-image {
	max-width: 100%;
}
/*******************
  HEADER SETUP
*******************/


header nav {
	float: right;
}

header a {
	font-size: 1.1rem;
	color: #808080;
	text-decoration: none;
	padding: 10px;
}

nav ul {
	 display: none;
}

nav li:last-child {
	border: 2px solid #00ff00;
}

.hamburger {
	display: block;
	font-size: 2em;
	float: right;
	color: #00ff00;
	padding-top: 30px;
	padding-right: 30px;
}

.show-nav {
	display: block;
}

.car p {
	border-bottom: 2px solid;
	border-color: #00ff00;
	padding: 30px;
}

.tagline {
	margin: 0 20px;
	font-size: 1.1rem;
}

/*******************
  FORM SETUP
*******************/

.enquiry {
	text-align: left;
	margin: 0 auto;
	width: 400px;
	margin-top: 100px;
	font-size: 1.2rem;
}

.enquiry h2 {
	margin: 20px 0;
}


input {
	border: 2px solid #00ff00;
	display: block;
	width: 100%;
}

input[type="radio"] {
	display: inline-block;
	width: auto;
}

.slick-slide img {
	width: 100%;
}

button {
	font-size: 20px;
	margin: 30px 0;
	/*color: #00ff00;*/
	background-color: white;
	border: 2px solid #00ff00;
}

.side-bar {
	float: right;
}

/*******************
  INDEX PAGE
*******************/

.slider-section {
	margin: 0 auto;
	max-width: 1000px;
}

.slick-prev {
	left: 25px;
}

.slick-next {
	right: 25px;
}

/*******************
  ABOUT PAGE
*******************/

.car-teasers {
	margin: 1.5em 0;
}

.car-teasers li:not(:last-child) {
	padding: 1.5em 0;
	border-bottom: 2px solid;
	border-color: #00ff00;
}

.text-right .teaser-content .teaser-image .text-left {
	display: block;
	width: 100%;
}

.teaser-content {
	width: 55%;
    margin: 0 auto;
}

.teaser-content h2 {
	padding-top: 10px;
	text-decoration: underline;
}

.teaser-image img {
	display: block;
	margin: 0 auto;
}

/*.aside-block {
	float: right;
	width: 30%;
}*/

/*******************
 QUESTIONS PAGE
*******************/

.question-content h2 {
	display: inline-block;
}

.questions-block {
	width: 100%;
	margin: 30px 0;
	line-height: 1.6rem;
	color: #404040;
}

.fa-arrow-circle-down {
	color: #00ff00;
	font-size: 2rem;
	display: inline-block;
	float: right;
}

.answer-copy {
	float: left;
	width: 40%
}

.answer-image {
	float: left;
}

.questions-container {
	width: 75%;
	margin: 0 auto;
}

.teaser-image:hover {
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
}

/*******************
  FOOTER SETUP
*******************/

footer {
	background-color: #00ff00;
	color: white;
	padding: 1em 0;
	margin-top: 20px;
}

/*.footer-contact {
	float: right;
}
*/
/*******************
  MEDIA QUERIES
*******************/

@media screen and (min-width: 1020px) {

	/*float images and text alternately*/

	header li {
		display: inline-block;
		padding: 5px; 
	}

	nav ul {
		display: block;
		padding-top: 10px;
	    padding-right: 20px;
	}

	.car-teasers {
		margin: 1.5em 0;
	}

	.car-teasers li {
		padding: 1.5em 0;
	}

	.text-right .teaser-content {
		float: right;
		width: 47.5%;
	}

	.text-right .teaser-image {
		float: left;
		margin-right: 5%;
		width: 47.5%;
	}

	.text-left .teaser-content {
		float: left;
		margin-right: 5%;
		width: 47.5%;
	}

	.text-left .teaser-image {
		float: right;
		width: 47.5%;
	}

	.teaser-image img {
		display: block;
		margin: 0 auto;
	}

	.car-image-container {
		float: left;
		display: block;
		width: 50%;
	}

	.hamburger {
		display: none;
	}

	.answer {
		display: none;
	}

	.main-image {
	width: 100%;
	max-height: 30%;
}
 

 }

 @media screen and (min-width: 996px) {

 	.teaser-content {
 		width: 80%;
 	}

 	.teaser-content h2 {
 		text-align: center;
 	}

 	.questions-block p {
 		width: 90%;
 	}

 }

